:root {
    font-family: Montserrat;
}

.logo {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

header::after {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    content: "  ";
    cursor: pointer;
}

section {
    margin: 0;
    padding: 10px 5vw;
}

section ul {
    display: grid;
    margin: 0px;
    padding: 10px 0;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

section > ul > li::marker {
    content: none;
}

section > ul > li {
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

section > ul > li:hover {
    box-shadow: 0px 0px 15px 5px rgba(176, 176, 176, 0.5);
    cursor: pointer;
}

span > ul {
    grid-gap: 10px 40px;
}

span > ul > li {
    padding-left: 5px;
}

span > ul > li::marker {
    content: "-";
}

@media (max-width: 750px) {
    section > ul {
        grid-template-columns: 1fr;
    }
}
