:root {
    font-family: Montserrat;
}

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100dvh;
}

header button {
    cursor: pointer;
    font: inherit;
    font-size: 2em;
    position: absolute;
    bottom: 0.7em;
    border: none;
    background: none;
}

main {
    margin: 0;
    padding: 0;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.logo {
    height: 70px;
    width: 70px;
    object-fit: contain;
}

section {
    margin: 5vh 10vw;
}

section > ul {
    margin: 0;
    padding: 0;
}

section > ul > a > li::marker,
section > ul > li::marker {
    content: none;
}

a {
    text-decoration: none;
    color: black;
}

section > ul > a > li,
section > ul > li {
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 10px;
}

p {
    margin-bottom: 0;
}

span {
    flex-grow: 1;
}

h3 {
    margin-top: 0;
}

@media (max-width: 750px) {
    section > ul {
        grid-template-columns: 1fr;
    }
}
