@font-face {
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf")
        format("truetype");
}
@property --progress {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}
@property --progress-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #000;
}
@property --progress-background {
    syntax: "<color>";
    inherits: false;
    initial-value: #fff;
}
:root {
    font-family: Montserrat;
    font-size: 12pt;
}
header {
    height: 100vh;
    text-align: center;
    align-content: center;
}
button {
    cursor: pointer;
    font: inherit;
    font-size: inherit;
    font-size: 20px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    border: none;
    background: none;
    transform: translateX(-50%);
}
main {
    padding: 5rem 5rem;
    padding-bottom: 0;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    border: 1px solid;
    border-color: gray;
    transition: box-shadow 0.2s ease-in-out;
}
li:has(img) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(1fr, auto); /* Two rows */
    grid-column-gap: 1rem;
    grid-template-columns: 6rem auto; /* Two columns */
}
li > a {
    display: contents;
    color: inherit;
    text-decoration: none;
}
li:has(a):hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
li li {
    display: list-item;
    list-style: disc;
    border: none;
    padding: 0.25rem 0;
    margin: 0;
    margin-left: 1rem;
}
li li.level {
    display: block;
    align-content: center;
    border: none;
    margin: 0;
    position: relative;
    padding-left: 65px;
}
li li.expert::before {
    --progress: 100%;
    --progress-color: #0d9c00;
}
li li.proficient::before {
    --progress: 80%;
    --progress-color: #00e215;
}
li li.intermediate::before {
    --progress: 60%;
    --progress-color: #86fb1a;
}
li li.beginner::before {
    --progress: 40%;
    --progress-color: #efff00;
}
li li.surfacelevel::before {
    --progress: 20%;
    --progress-color: #ff5d00;
}
li li.level::before {
    --progress-background: #efefee;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 50px;
    height: 10px;
    border-radius: 8px;
    border: 3px solid var(--progress-background);
    background:
        radial-gradient(
            circle at var(--progress),
            var(--progress-color),
            var(--progress-color) 5px,
            transparent 5px,
            transparent
        ),
        linear-gradient(
            90deg,
            var(--progress-color),
            var(--progress-color) var(--progress),
            var(--progress-background) var(--progress),
            var(--progress-background)
        );
}
img {
    height: 100%;
    width: 6rem;
    grid-column: 1 / 2; /* Takes full left column */
    grid-row: 1 / 3; /* Spans both rows */
    object-fit: contain;
}
h3 {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}
p {
    vertical-align: top;
    margin: 0;
}

footer {
    margin: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.6rem;
    border: 1px solid;
    border-color: gray;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}
footer:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer > a {
    display: contents;
}

@media screen and (max-width: 1222px) {
    main {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    main {
        padding: 0 5rem; /* Reduced side margins */
    }

    ul {
        grid-template-columns: 1fr; /* Single column layout */
    }
}

@media screen and (max-width: 670px) {
    main {
        padding: 0;
    }
}
